
@import "http://fonts.googleapis.com/css?family=Lato";



h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  color: #0066ff;
  text-transform: uppercase;
  float: left;
  margin: 0px 100% 5px 5px;
  span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}


