<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../static/scripts/navbar.js" th:src="@{/scripts/navbar.js}"></script>


    <head>
        <title>Manage Entities</title>
        <!--/*/ <th:block th:include="fragments/headerAll :: head"></th:block> /*/-->
        <link rel="stylesheet" type="text/css" href="../static/css/addfloor.css" th:href="@{/css/addentity.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    <body>

        <!-- START OF HEADER -->
        <div class="container">
            <header class="page-header">
                <h1>Behaviorics</h1>
                <h2><small>Camera System Fault Detection Tool</small></h2>
            </header>
        </div>
        <!-- END OF HEADER -->

        <!-- START OF MENU -->
        <nav id="navbar-main" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/reports}">Home</a></li>
                        <li><a th:href="@{/failreports}">Camera Reports</a></li>
                        <li><a th:href="@{/cameraInformation}">Camera Information</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/addentity}">Entities</a></li>
                                <li><a th:href="@{/admin/addbuilding}">Buildings</a></li>
                                <li><a th:href="@{/admin/addfloor}">Floors</a></li>
                                <li><a th:href="@{/admin/addcamera}">Cameras</a></li>
                                <li><a th:href="@{/admin/addUser}">Users</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/manage}">Monitor Cameras</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default">Sign Out</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!-- END OF MENU -->

        <div class="container">

            <h2>Manage Entities</h2>
            <hr />
            <h3>Add an Entity</h3>
            <form action="#" th:action="@{/admin/addentity}" th:object="${entity}" method="post" >

                <div class="labelcontainer">
                    <input type="hidden" th:field="*{organizationID}" required="required"/>
                </div>

                <div class="labelcontainer">
                    <span class="inlinelabel">Name: </span>
                    <input type="text" th:field="*{entityName}" required="required"/>
                </div>

                <div class="labelcontainer">
                    <span class="inlinelabel">Contact Number: </span>
                    <input type="text" th:field="*{contactNumber}"/>
                </div>

                <div class="labelcontainer">
                    <span class="inlinelabel">Acronym: </span>
                    <input type="text" th:field="*{entityAcronym}" required="required"/>
                </div>

                <div style="padding: 20px 5px 5px 5px;"> <input type="reset" value="Reset" /> <input type="submit" value="Submit" /> </div>
            </form>
        </div>
        <div class="container">
            <div th:if="${message}">
                <h4 id="message" th:style="${style}" th:text="${message}"/>
                <script>
                    $(document).ready(function(){
                        $("#message").fadeOut(3000);
                    });
                </script>
            </div>
        </div>
        <div class="container">
            <hr />
            <h3>Entities</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Organization Name</th>
                    <th>Entity Name</th>
                    <th>Contact Number</th>
                    <th>Entity Acronym</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entity:${allEntities}" th:object="${entity}">
                    <td th:text="*{getID()}"></td>
                    <td th:text="*{getOrganizationName()}"></td>
                    <td th:text="*{getEntityName()}"></td>
                    <td th:text="*{getContactNumber()}"></td>
                    <td th:text="*{getEntityAcronym()}"></td>
                    <td>
                        <a name="remove"  th:href="@{/admin/deleteEntity(id=*{getID()})}">Remove</a>
                    </td>
                    <td>
                        <a name= "edit" href="#openModal" th:onclick="'javascript:requestEntityEdit(' + ${entity.getID()}
                        + ', ' + ${entity.getOrganizationID()} + ', \'' + ${entity.getEntityName()}  + '\', \'' + ${entity.getContactNumber()}
                        + '\', \'' + ${entity.getEntityAcronym()} + '\')'">edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h3>Edit an Entity</h3>
                <form action="#" th:action="@{/admin/editEntity}" th:object="${entity}" method="post" >
                    <p><input type="hidden" th:field="*{ID}" id="entityIDField"/></p>
                    <p><input type="hidden" th:field="*{organizationID}" id="organizationIDField"/></p>

                    <div class="labelcontainer">
                        <span class="inlinelabel">Name: </span>
                        <input type="text" th:field="*{entityName}" id="entityNameField"/>
                    </div>

                    <div class="labelcontainer">
                        <span class="inlinelabel">Contact Number: </span>
                        <input type="text" th:field="*{contactNumber}" id="contactNumberField"/>
                    </div>

                    <div class="labelcontainer">
                        <span class="inlinelabel">Acronym: </span>
                        <input type="text" th:field="*{entityAcronym}" id="acronymField"/>
                    </div>

                    <div style="padding: 20px 5px 5px 5px;"> <input type="reset" value="Reset" /> <input type="submit" value="Submit" /> </div>
                </form>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
    </body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var requestEntityEdit = function(ID, organizationID, entityName, contactNumber, entityAcronym) {
        document.getElementById('entityIDField').value = ID;
        document.getElementById('organizationIDField').value = organizationID;
        document.getElementById('entityNameField').value = entityName;
        document.getElementById('contactNumberField').value = contactNumber;
        document.getElementById('acronymField').value = entityAcronym;
    };
    /*]]>*/
</script>
</html>